@font-face {
  font-family: 'robotoregular';
  src: url('webfontkit-20200415-185218/roboto-regular-webfont.woff2') format('woff2'),
       url('webfontkit-20200415-185218/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotothin';
  src: url('webfontkit-20200415-185218/roboto-thin-webfont.woff2') format('woff2'),
       url('webfontkit-20200415-185218/roboto-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotolight';
  src: url('webfontkit-20200415-185218/roboto-light-webfont.woff2') format('woff2'),
       url('webfontkit-20200415-185218/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body {
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: normal;
  background:  #D1D6E8;;
  text-align: center;
}

/* Home Page */
.buttonTake button{
  background-color:  #DAD8D8;
  border:  1px solid #FFFFFF;
  color:black;
  position: absolute;
  width: 320px;
  height: 100px;
  left: 509px;
  top: 112px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: 'robotoregular';
  font-size: 34px;
  line-height: 100px;
  align-items: center;
  cursor: pointer;
}
.buttonTake button:hover {
  background-color: #B5B5B5;
  color: black;
  align-content: center;
}
.buttonTeach button{
  background-color:  #DAD8D8;
  border:  1px solid #FFFFFF;
  color:black;
  position: absolute;
  width: 320px;
  height: 100px;
  left: 988px;
  top: 112px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 34px;
  font-family: 'robotoregular';
  line-height: 100px;
  align-items: center;
  cursor: pointer;
}
.buttonTeach button:hover {
  background-color: #B5B5B5;
  color: black;
  align-content: center;
}
.friends{
  position: absolute;
  width: 350px;
  height: 770px;
  left: 22px;
  top: 23px;
  background: #DAD8D8;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.classes{
  position: absolute;
  width: 491px;
  height: 87px;
  left: 491px;
  top: 292px;
  font-size: 28x;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #000000;
}
.monday{
  position: absolute;
  width: 153px;
  height: 415px;
  left: 491px;
  top: 375px;
  background: #DAD8D8;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.tuesday{
  position: absolute;
  width: 153px;
  height: 415px;
  left: 665px;
  top: 375px;
  background: #DAD8D8;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.wednesday{
  position: absolute;
  width: 153px;
  height: 415px;
  left: 839px;
  top: 375px;
  background: #DAD8D8;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.thursday{
  position: absolute;
  width: 153px;
  height: 415px;
  left: 1013px;
  top: 375px;
  background: #DAD8D8;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.friday{
  position: absolute;
  width: 153px;
  height: 415px;
  left: 1187px;
  top: 375px;
  background: #DAD8D8;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}

/* Teach a Class */
.step1{
  position: absolute;
  width: 313px;
  height: 33px;
  left: 39px;
  top: 140px;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}
.rectangle1{
  position: absolute;
  width: 313px;
  height: 400px;
  left: 39px;
  top: 201px; 
  background: #DAD8D8;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.Art button{
  position: absolute;
  width: 186px;
  height: 54px;
  left: 103px;
  top: 225px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align:center;
  font-size: 20px;
}
.Art button:hover{
  background-color: #9F9F9F;
  color: black;
  align-content: center;
}
.Beauty button{
  position: absolute;
  width: 186px;
  height: 54px;
  left: 103px;
  top: 299px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align:center;
  font-size: 20px;
}
.Beauty button:hover{
  background-color: #9F9F9F;
  color: black;
  align-content: center;
}
.Cooking button{
  position: absolute;
  width: 186px;
  height: 54px;
  left: 103px;
  top: 373px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align:center;
  font-size: 20px;
}
.Cooking button:hover{
  background-color: #9F9F9F;
  color: black;
  align-content: center;
}
.Fitness button{
  position: absolute;
  width: 186px;
  height: 54px;
  left: 103px;
  top: 447px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align:center;
  font-size: 20px;
}
.Fitness button:hover{
  background-color: #9F9F9F;
  color: black;
  align-content: center;
}
.Other button{
  position: absolute;
  width: 186px;
  height: 55px;
  left: 103px;
  top: 521px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align:center;
  font-size: 20px;
}
.Other button:hover{
  background-color: #9F9F9F;
  color: black;
  align-content: center;
}
.step2{
  position: absolute;
  width: 313px;
  height: 33px;
  left: 384px;
  top: 140px;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}
.rectangle2{
  position: absolute;
  width: 313px;
  height: 400px;
  left: 384px;
  top: 201px;
  background: #DAD8D8;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;

}
.step3{
  position: absolute;
  width: 313px;
  height: 33px;
  left: 729px;
  top: 140px;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}
.rectangle3{
  position: absolute;
  width: 313px;
  height: 400px;
  left: 729px;
  top: 201px;
  background: #DAD8D8;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;

}
.btn1{
  /* border: 2px solid gray; */
  background:#C4C4C4;
  font-size:18px;
  position:absolute;
  width:200px;
  height:75px;
  left:56px;
  top:24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor:pointer;

}
#file1 {
  font-size:20px;
  position: absolute;
  left: 56px;
  top: 24px;
  width:200px;
  height:75px;
  opacity: 0;
}
.btn2{
  background:#C4C4C4;
  font-size:18px;
  position:absolute;
  width:200px;
  height:75px;
  left:56px;
  top:116px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#file2{
  font-size:20px;
  position: absolute;
  left: 56px;
  top:116px;
  width:200px;
  height:75px;
  opacity: 0;
}
.btn3{
  background:#C4C4C4;
  font-size:18px;
  position:absolute;
  width:200px;
  height:75px;
  left:56px;
  top:208px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#file3{
  font-size:20px;
  position: absolute;
  left: 56px;
  top:208px;
  width:200px;
  height:75px;
  opacity: 0;
}
.btn4{
  background:#C4C4C4;
  font-size:18px;
  position:absolute;
  width:200px;
  height:75px;
  left:56px;
  top:300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#file4{
  font-size:20px;
  position: absolute;
  left: 56px;
  top:300px;
  width:200px;
  height:75px;
  opacity: 0;
}

.step4{
  position: absolute;
  width: 313px;
  height: 33px;
  left: 1081px;
  top: 140px;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}
.rectangle4{
  position: absolute;
  width: 313px;
  height: 400px;
  left: 1081px;
  top: 201px;
  background: #DAD8D8;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.step5{
  position: absolute;
  width: 563px;
  height: 33px;
  left: 191px;
  top: 600px;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}
#classtime{
  position:absolute;
  width:563px;
  height:88px;
  left: 191px;
  top: 665px;
  font-size:18px;
  background:#DAD8D8;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  text-align:center;
}
.doneButton button{
  position: absolute;
  width: 292px;
  height: 71px;
  left: 992px;
  top: 665px;
  background: #A2DBAF;
  font-family: 'robotoregular';
  font-size: 28px;
  line-height: 71px;
  text-align: center;
  color: black;
}
.doneButton button:hover{
  background-color: #66C25C;
  color: black;
  align-content: center;
}
/* Take a Class */
.backButton button{
  position: absolute;
  width: 120px;
  height:50px;
  left:59px;
  top:40px;
  background-color:#585858;
  color: white;
  font-size:16px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.backButton button:hover {
  background-color: #313131;
  color: white;
  align-content: center;
}
.search input[type=text]{
  position: absolute;
  width:305px;
  height:40px;
  top:90px;
  left:565px;
  font-size:20px;
}
.searchTeacher{
  position: absolute;
  width:326px;
  height:40px;
  left:59px;
  top:140px;
  text-align:center;
}
.teacherRanking{
  position: absolute;
  width: 326px;
  height: 500px;
  left: 59px;
  top: 200px;
  background: #DAD8D8;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
#rank{
  position: absolute;
  width: 70px;
  height:15px;
  left:20px;
  top:5px;
  font-size:18px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
#top{
  text-align: center;
  font-size: 18px;
}
#points{
  position: absolute;
  width: 70px;
  height: 15px;
  left: 240px;
  top: 5px;
  font-size:18px;
  line-height:15px;
  align-items: center;
  text-align: center;
}
.browse{
  position: absolute;
  width: 625px;
  height:30px;
  left:405px;
  top:140px;
  text-align:center;
}
.cookingClasses{
  position: absolute;
  width: 145px;
  height: 500px;
  left: 405px;
  top: 200px;
  background: #DAD8D8;
  text-align:center;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.artClasses{
  position: absolute;
  width: 145px;
  height: 500px;
  top: 200px;
  left: 565px;
  background: #DAD8D8;
  text-align: center;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.beautyClasses{
  position: absolute;
  width: 145px;
  height: 500px;
  top: 200px;
  left: 725px;
  background: #DAD8D8;
  text-align: center;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.fitnessClasses{
  position: absolute;
  width: 145px;
  height: 500px;
  top: 200px;
  left: 885px;
  background: #DAD8D8;
  text-align: center;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.join {
  position: absolute;
  width:334px;
  height:30px;
  left:1050px;
  top:140px;
  text-align:center;
}
/* #joinFriends{
  position: absolute;
  width: 219px;
  height: 42px;
  left: 1073px;
  top: 160px;
} */
#friendClasses{
  position: absolute;
  width: 334px;
  height: 500px;
  left: 1050px;
  top: 185px;
  background: #DAD8D8;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  line-height:40px;
  text-align:center;
  align-items:center;
}

/* Fitness Class */
.video{
  position: absolute;
  left:50px;
  top:100px;
}
#container {
  position:absolute;
  top:100px;
  left:700px;
	margin: 0px auto;
	width:475px;
	height: 345px;
  border: 1px solid #FFFFFF;
}
#videoElement {
	width: 450px;
	height: 345px;
	/* background-color: #DAD8D8; */
}
#stats{
  position: absolute;
  top:100px;
  left:1175px;
  width: 200px;
  height:345px;
  background-color: #DAD8D8;
  border: 1px solid #FFFFFF;
}
#img1{
  position:absolute;
  top:500px;
  left:50px;
  width:215px;
  height:175px;
  border: 1px solid #FFFFFF;
}
#stats1{
  position: absolute;
  top:500px;
  left:265px;
  background-color: #DAD8D8;
  border: 1px solid #FFFFFF;
  width:100px;
  height:175px;
  font-size:14px;
}
#img2{
  position:absolute;
  top:500px;
  left:390px;
  width:215px;
  height:175px;
  border: 1px solid #FFFFFF;
}
#stats2{
  position:absolute;
  top:500px;
  left:605px;
  background-color: #DAD8D8;
  border: 1px solid #FFFFFF;
  width:100px;
  height:175px;
  font-size:14px;
}
#img3{
  position:absolute;
  top:500px;
  left:730px;
  width:215px;
  height:175px;
  border: 1px solid #FFFFFF;
}
#stats3{
  position:absolute;
  top:500px;
  left:945px;
  background-color: #DAD8D8;
  border: 1px solid #FFFFFF;
  width:100px;
  height:175px;
  font-size:14px;
}
#img4{
  position:absolute;
  top:500px;
  left:1070px;
  width:215px;
  height:175px;
  border: 1px solid #FFFFFF;
}
#stats4{
  position:absolute;
  top:500px;
  left:1285px;
  background-color: #DAD8D8;
  border: 1px solid #FFFFFF;
  width:100px;
  height:175px;
  font-size:14px;
}
.leaveButton button{
  position:absolute;
  top:725px;
  left:675px;
  width:100px;
  height:55px;
  background-color:#585858;
  color: white;
  font-size:16px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.leaveButton button:hover{
  background-color: #313131;
  color: white;
  align-content: center;
}
/* Cooking Class */
#container1 {
  position:absolute;
  top:100px;
  left:675px;
	margin: 0px auto;
	width:475px;
	height: 345px;
  border: 1px solid #FFFFFF;
}
#videoElement1 {
	width: 450px;
  height: 345px;
}
#cimg1{
  position:absolute;
  top:100px;
  left:1175px;
  width:215px;
  height:165px;
  border: 1px solid #FFFFFF;
}
#cimg2{
  position:absolute;
  top:290px;
  left:1175px;
  width:215px;
  height:165px;
  border: 1px solid #FFFFFF;
}
#cimg3{
  position:absolute;
  top:470px;
  left:675px;
  width:225px;
  height:175px;
  border: 1px solid #FFFFFF;
}
#cimg4{
  position:absolute;
  top:470px;
  left:925px;
  width:225px;
  height:175px;
  border: 1px solid #FFFFFF;
}
#cimg5{
  position:absolute;
  top:470px;
  left:1175px;
  width:215px;
  height:175px;
  border: 1px solid #FFFFFF;
}
#recipe{
  position:absolute;
  top:470px;
  left:50px;
  background-color: #DAD8D8;
  border: 1px solid #FFFFFF;
  width:600px;
  height:175px;
  font-size:14px;
} 
/* Teach Fitness */
#container2{
  position:absolute;
  top:100px;
  left:50px;
  margin: 0px auto;
	width:475px;
	height: 345px;
  border: 1px solid #FFFFFF;
}
#videoElement2 {
	width: 450px;
  height: 345px;
}
